body {
    color: white;
    background-color: black;
}
h1 {
    color: black;
    border-radius: 10px;
    background-color: aquamarine;
    text-align: center;
    width: auto;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    color: white;
    border-left: aquamarine solid 10px;
    border-radius: 10px;
    text-align:justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}