body {
    margin: 0px;
    background-color: lightblue;
    padding: 0px;
}

header {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px ;
    padding: 10px;
    background-color: orange;
    color: midnightblue;
    display: flex;
}

p {
    margin: 0px 20px;
    padding: 10px 0px;
}

#titulo {
    flex-grow: 1;
    text-align: center;
    border-bottom: solid midnightblue 3px;
    margin: 0px;
}

#menu {
    border-bottom: solid midnightblue 3px;
    border-left: solid midnightblue 3px;
    border-bottom-left-radius: 35px;
    flex-grow: 0.1;
    text-align: center;
    margin-left: 0px;
}

#usuario {
    border-bottom: solid midnightblue 3px;
    border-right: solid midnightblue 3px;
    border-bottom-right-radius: 35px;
    flex-grow: 0.1;
    text-align: center;
    margin-right: 0px;
}

@media screen and (orientation:portrait) {
    header {
        display: block;
    }
    p {
        border: solid midnightblue 3px;
        border-top:none;
        border-bottom-left-radius: 35px;
        margin: 0px;
        border-bottom-right-radius: 35px;
    }
}

@media print {
    header {
        display: none;
    }
  }